<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <style>
        td, th, tr {
            border: 2px solid black; /* Параметры границы */
            padding: 5px; /* Поля вокруг текста */
            border-spacing: 0px;
        }
    </style>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
